
.main-container .sobre{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
  
  }

.sobre{
    max-width: 50%;
    display: flex;

}

.sobre .intro{
    margin: 0 auto;
}
.sobre .intro iframe{
    width: 100%;
    height: 50%;
    margin: 0 auto;

}